/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&family=REM&family=Yantramanav:wght@300;400;500&display=swap');

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Push footer down 
With help from: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styles */
    font-family: 'Yantramanav', sans-serif;
}

header {
    background-color: #fa00a6;
    color: #f9f871;
    font-family: 'Laila', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

main {
    background-color: #cfd80d;
    color: #015d45;
    /* Main content to take up all space between header and footer 
    Credit: Code Institute Video "Setting up some basic CSS styles" */
    flex: 1 0 auto;
}

footer {
    background-color: #ffd150;
    color: #00d0ff;
    font-family: 'Laila', sans-serif;
}