/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #fa00a6;
    color: #f9f871;
}

main {
    background-color: #cfd80d;
    color: #015d45;
}

footer {
    background-color: #ffd150;
    color: #00d0ff;
}