/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&family=REM&family=Yantramanav:wght@300;400;500&display=swap');

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Push footer down 
With help from: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styles */
    font-family: 'Yantramanav', sans-serif;
}

/* Header */

header {
    background-color: #fa00a6;
    color: #ffd150;
    position: fixed;
    z-index: 999;
    width: 100vw;
    font-family: 'Laila', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
    text-align: center;
    padding: 20px;
    box-shadow: 0 3px 2px #ffd150;
}

/* Main */

main {
    margin-top: 122px;
    background-color: #cfd80d;
    color: #015d45;
    display: flex;
    flex-direction: column;
    /* Main content to take up all space between header and footer 
    Credit: Code Institute Video "Setting up some basic CSS styles" */
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

/* Home page */

#container {
    /*border:2px solid #015d45;*/
    width: 90vw;
    padding: 5px;
    margin-top: 10px;
}

#heading {
    text-align: center;
    /*border: solid red;*/
}

#heading h1 {
    color: #fa00a6;
    margin: 20px;
    font-family: 'Laila', sans-serif;
}

#user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-div {
    /*border: solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    font-size: x-large;
    font-weight: bold;
}

#input-name {
    border:2px solid #015d45;
    border-radius: 5px;
    min-height: 3rem;
    min-width: 10rem;
    margin-top: 0.5rem;
    text-align: center;
    background-color: #f9f871;
    color:#015d45;
    font-size: large;
    margin-top: 1rem;
}

/* Change placeholder color and opacity 
credits: https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder {
    color: #015d45;
    opacity: 80%;
    font-size: large;
    text-align: center;
}

.button {
    min-width: 8rem;
    min-height: 2rem;
    border-radius: 5px;
    /*border: solid 2px #015d45;*/
    color: #015d45;
    font-size: large;
    font-weight: bold;
    background-color: #00d0ff;
    border: none;
}

#rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

/* Modal background box */
#rules-modal {
    display: none; /* hidden when site loads */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

/* Modal content box */
#modal-content {
    background-color: #f9f871;
    margin: 163px auto; /* 163px to make sure the modal box starts below the thickest possible header */
    width: 85%;
    padding: 1.8em;
    border-radius: 2px;
}

/* Close Button X */
#close-modal {
    float: right;
    font-size: 1em;
    font-weight: bold;
    border: solid 1px #015d45;
    padding: 0.1em 0.4em;
    background-color: #ffd150;
}

/*#close-modal:hover,
#close-modal:focus {
    background-color: #015d45;
    color: #ffd150;
}*/

/* Footer */

footer {
    background-color: #00d0ff;
    color: #f9f871;
    font-family: 'Laila', sans-serif;
    text-align: center;
    font-weight: bolder;
}

footer i {
    color:#f9f871;
    font-size: 170%;
}

/* Make site responsive by using media queries */

/* Very small screens with 298px width and smaller */
@media only screen and (max-width: 298px) {
    main {
        margin-top: 163px;
    }
}

/* Small screens with 425px width and smaller */
@media only screen and (max-width: 425px) {
    header {
        font-size: small;
    }
}

/* Phones in landscape mode or tablets with 736px width and wider */
@media only screen and (min-width: 736px) {
    main {
        margin-top: 96px;
    }
}

/* Large screens with 1024px width and larger */
@media only screen and (min-width: 1024px) {
    header {
        font-size: x-large;
    }

    main {
        margin-top: 115px;
    }

    #container {
        font-size: larger;
    }

    footer {
        font-size: x-large;
    }
}

/* Large screens with 1440px width and larger */
@media only screen and (min-width: 1440px) {
    #container {
        font-size: x-large;
    }

    #modal-content {
        font-size: larger;
    }
}